#home
  .col-md-6.col-md-offset-3
    #index-info
      .overlay
        %h1
          Planifica Viajes
        %hr
        %h2
          Crea tus propias historias desde el principio
        %div{"ng-hide" => "is_login()"}
          = link_to new_user_registration_path, :method => :get do
            %button.btn.btn-danger.btn-lg= t("Register")
        %div{"ng-show" => "is_login()"}
          - if signed_in?
            = link_to profile_path(current_user.username), :method => :get do
              %button.btn.btn-success.btn-lg= t("AllYourTrips")
