/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

$link-color: rgba(0,0,0,0.6);
$link-hover-color: rgba(0,0,0,0.8);
@import url(http://fonts.googleapis.com/css?family=Lobster);

@import "compass";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "components-font-awesome/css/font-awesome.css";
@import "errors";
@import "pages";
@import "home";
@import "profiles";
@import "trips";


.web-title{
  font-family: "Lobster";
  font-size: 2em;
}

// Usage
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

nav.meta-nav {

  border-bottom: 1px solid #efefef;
  a.dropdown-toggle{
    padding: 6px !important;
  }
}

.navbar-toggle .icon-bar{
  background: #333;
}
#site{


  margin: 0px;
  padding: 0px;
  .page {
    width: 100%;
    position: relative;


  }
}

.nomargin {
  margin: 0px;
  padding: 0px;
}

.app-message{
  position: absolute;
  z-index: 10;
  margin: 0 auto;
  width: 50%;
  margin-left: 50%;
  left: -25%;
  top: 30px;
}



footer#end{
  height: 5vh;
  display: block;
  position: relative;

}
ol.breadcrumb {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 30px;
  float: right;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}