// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gris: rgba(0,0,0,0.8);

#profile{


  .line{

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 12px;
      width: 100%;
      border-top: 1px solid rgba(0,0,0,0.15);
    }

    position: relative;
    text-align: center;
    line-height: 1.2;
    margin: 20px 0 10px;

    .line-name{
      display: inline-block;
      border: 1px solid rgba(0,0,0,0.44);
      background: #fff;
      text-transform: uppercase;
      font-size: 12px;
      padding: 3px 8px 2px 12px;
      letter-spacing: .3em;
      color: rgba(0,0,0,0.6);
      position: relative;
    }
  }
  h4{
    font-family: "Lato";
    color: $gris;
    border: 1px solid $gris;
    padding: 2px;
    text-align: center;
  }

  section{
    width: 100%;
    display: table;
    background-position: 50% 0;
    background-size: cover;
    position: relative;

    &.user-info{
      height: 25vh;
    }

    &.trip{
      padding: 20px 0;
      /* float: left; */
      height: 190px;
    }


    h1, h2, h3{
      font-family: "lato";
      letter-spacing: -0.02em;
      font-style: normal;
      letter-spacing: -0.04em;
      line-height: 1;
      color: $gris;
      margin-bottom: 8px;
      outline: 0;
      word-break: break-word;
      word-wrap: break-word;

      a {
        color: $gris;

        &:hover{

        }
        &:active{

        }
      }
    }
    h1 {
      font-size: 50px;
      text-align: center;
      font-weight: 700;
    }

    h3 {
      font-size: 24px;
      font-weight: 300;
    }




    .info,
    .image{
      float: left;
    }

    .image {
      display: block;
      width: 242px;
      height: 150px;
      position: absolute;
      float: left;
    }
    .actions{
      margin: 20px 0;

      text-align: right;
      li{
        padding-right: 0px;
      }

      .new{
        &:hover{
          @extend .btn-primary;
        }
      }
      .delete{
        &:hover{
          @extend .btn-danger;
        }
      }
    }
    .info {
      margin-left: 250px;

      h3{
        margin-top: 0px;
      }
      .description{
        font-family: "Raleway",Georgia,Cambria,"Times New Roman",Times,serif;
        letter-spacing: 0.01rem;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 1.5;
      }
      .tripMeta{

        font-size: 14px;


        .author{

          a {
            &:before{
              content: "@";
            }
            font-weight: bold;

          }

        }
        .dates{
          margin-left: 10px;
          display: inline;
        }
      }
    }


  }

}